@charset "UTF-8";

body{
	background-image:url('../images/picture/food_image.jpg');
	background-repeat: no-repeat;
	background-size:cover;
}

#mp_header {
	text-align: center;
	padding: 1%;
	width: 50%;
	margin:0 5% 0 30%;
}

#mp_panel {
	width: 50%;
	height:100%;
	padding: 1%;
	margin:0 5% 0 30%;
	min-width: 691px;
	background-color:#ffffff;
}

#mp_member_info{
	width:17%;
	height:230px;
	float: right;
	background-color:#ffffff;
	margin-top: 2%;
    border-radius:50px;
	border:2px solid black;
}
#mp_info_update{
	background-color:#4fb03f;
	color:white;
	width:60%;
	height:40px;
	font-size: 130%;
    border-radius:10px;
    margin-top: 1%;
    margin-left:20%;
}
#mp_info_update:hover{
	cursor: pointer;
}
#mp_info_img{
	margin-top: 3%;
    margin-left:20%;
	
}


#mp_search{
	text-align: center;
	margin-bottom: 2%;	text-align: center;	
}

#mp_title_list{
	background-color:#e6e6e6;
	}
	
#mp_contents{
	height:500px;
	text-align:center;
	font-size: 120%;
}
#mp_cont_img{
	margin-top: 3%;
}

#mp_btn_recipe{
	width: 29%;
	height:50px;
	font-size: 220%;
	margin:1% -0.5% 1% 1%;	
}
#mp_btn_comment{
	width: 29%;
	height:50px;
	font-size: 220%;
	margin:1% -0.5% 1% 0;
}
#mp_btn_hotnews{
	width: 40%;
	height:50px;
	font-size: 220%;
	margin:1% 0 1% 0;	
}
#mp_btn_recipe:hover:hover{
	background-color:gray;
	color: white;
	cursor: pointer;
}
#mp_btn_comment:hover{
	background-color:gray;
	color: white;
	cursor: pointer;
}
#mp_btn_hotnews:hover{
	background-color:gray;
	color: white;
	cursor: pointer;
}
#mp_write_recipe{
	background-color:#4fb03f;
	color:white;
	width:32%;
	height:60px;
	font-size: 160%;
    border-radius:10px;
    margin-top: 3%;
}
#mp_write_recipe:hover{
	cursor: pointer;
}

#mypage_view_number {
	padding: 10px 0 0 0;
	height: 50px;
	font-weight: bold;
	text-align: center;
}

#mypage_view_number a:link {
	color: black;
	text-decoration: none;
}

#mypage_view_number a:hover {
	color: gray;
	text-decoration: underline;
}

#mypage_view_number a:active {
	color: aqua;
	text-decoration: none;
}